<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:skyblue">
<form action="read" method="post">
    {% csrf_token %}

    <table align="center">
        <caption><h1>Student Registration</h1></caption>
        <caption><h3 style="color:red">{{data}}</h3></caption>
        <tr>
            <td>User:</td>
            <td><input type="text" name="tbuser" required></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="tbemail" required ></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="tbpswrd" required oninvalid=""></td>
        </tr>
        <tr>
            <td><input type="submit" name="tbsubmit" value="register" ></td>
        </tr>
    </table>

</form>

</body>
</html>